---
ogtype: website
tags: programmer software developer seeking employment recruiters
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <header>
      {% include "nav.njk" %}
    </header>
    <!-- Content wrapper -->
    <main>
      {{ content | safe }}</main>
    <footer>
      <small>&copy; {% year %}
        {{ seo.author }}</small>
    </footer>
  </body>
</html>