---
layout: base
---
{{content | safe}}
{% set sections = collections.sections | reverse %}
<div class="container-sm">
{%- for section in sections-%}
    {% include "section.njk" %}
{%- endfor -%}
</div>