p.display-3(role="decoration") I write 
    span.rotatingText
        span.rotatingText-adjective JavaScript
        span.rotatingText-adjective accessible HTML
        span.rotatingText-adjective C / C++ / Rust
        span.rotatingText-adjective.text-success awesome freaking code
    |  for 
    span.rotatingText
        span.rotatingText-adjective websites
        span.rotatingText-adjective everyone
        span.rotatingText-adjective applications
        span.rotatingText-adjective.text-success your company
    |.

div.visually-hidden
    p I write JavaScript for websites.
    p I write C / C++ / Rust for applications.
    p I write accessible HTML Rust for everyone.
    p I write high-security Rust for everyone.