@import "_bootstrap-custom.scss";
@import "_stripes.scss";

header {
    @extend .text-center, .my-5;
}

/* Cool gradient border under head */
header::after {
    content: '';
    display: block;
    height: 1rem;
    @include stripes(($color-1, $color-2, $color-3, $color-4, $color-5), to right);
}

footer {
    @extend .border-top, .border-primary, .pt-3;
}