---
title: Home
layout: home.njk

---

.py-5.my-5.min-vh-100.d-flex.flex-column.justify-content-center.container-sm
    h2.display-6.g-col-sm.text-muted Hi there! 👋 I'm Mae. I am looking for work.
    include _includes/cool/spinner.pug
    h3.py-3
        .btn.btn-primary.btn-lg.display-3.text-dark Hire me?
        | 
        .btn.btn-secondary.btn-lg.display-3.text-dark See more